{% load i18n %}

<a class="a__bottom__hover" href="{% url 'main_page:about' %}">{% trans 'О компании' %}</a>
<a class="a__bottom__hover" href="{% url 'catalog:home' %}">{% trans 'Каталог' %}</a>
<a class="a__bottom__hover" href="{% url 'catalog:stabilizer' %}">{% trans 'Стабилизаторы' %}</a>
<a class="a__bottom__hover" href="{% url 'main_page:check_order' %}">{% trans 'О заказе' %}</a>
<a class="a__bottom__hover" href="{% url 'main_page:check_warranty' %}">{% trans 'Проверить гарантию' %}</a>
<a class="a__bottom__hover" href="{% url 'main_page:placement' %}">{% trans 'Размещение' %}</a>
<a class="a__bottom__hover" href="{% url 'main_page:blog' %}">{% trans 'Блог' %}</a>
<a class="a__bottom__hover" href="{% url 'main_page:contact' %}">{% trans 'Контакты' %}</a>