{% load static %}

<link rel="stylesheet" href="{% static 'cat/css/style.css' %}">
<link rel="stylesheet" href="{% static 'cat/libs_css/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/main/hero__section.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/main/reviews__section.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/main/footer__section.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/main/slider__section.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/main/telegramm__section.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/main/help__section.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/main/steps__section.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/detail/header__detail.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/detail/main__detail__content__section.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/detail/detail__tabs.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/catalog/main__catalog__content__section.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/dop_links/dop_links.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/dop_links/dop_links_2.css' %}">
<link rel="stylesheet" href="{% static 'cat/css/catalog/form_f_order.css' %}">