{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

	{% include 'includes/styles_links.html' %}

	<title>{% block title %}{% endblock %}</title>

	<style>

.padislavich a {
	opacity: 1;
}
		.language_sveech {
			all: unset;
			padding: 7px 7px;
			background: rgba(0,0,0,0);
			text-transform: uppercase;
			border: 1px solid rgba(0,0,0,0.3);
			border-radius: 3px;
			font-size: 13px;
			font-weight: normal;
		}

		.padislavich {
			position: relative;
			overflow: hidden;
		}

		.changer__bg__razmecenie {
			position: relative;
			z-index: 3;
		}

		.padislavich img {
			position: absolute;
			width: 120%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	</style>
	<link rel="icon" href="{% static 'cat/img/icon.ico' %}" type="image/x-icon">
</head>

<body>


	<div data-cursor-dott class="cursore__dot"><span></span></div>


	{% block dop_content %}
	{% endblock %}


	<div class="media__menu">

		<div class="media__menu__btn"><span></span></div>


		<div class="media__menu__links ">
			{% include 'includes/main_links.html' %}
		</div>

	</div>


	{% block content %}
	{% endblock %}


	<footer class="footer__section">

		<div class="footer__main__links">

			<div class="footer__logo">
				<svg width="" height="" viewBox="0 0 188 197" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M50.5 21.5V2.5H135.5V21.5H104.5V109H81.5L81 21.5H50.5Z" fill="#fff"/>
				<path d="M184 4H145.5V13H170.5L131.5 91.5L139 98L184 4Z" fill="#fff"/>
				<path d="M40.5 12.5V3.5H3.5L33.5 65L37 51L18 12.5H40.5Z" fill="#fff"/>
				<path d="M76.5 132.5L62.5 126.5L94 192L124.5 129L112 132.5L94 168L76.5 132.5Z" fill="#fff"/>
				<path d="M50.5 21.5V2.5H135.5V21.5H104.5V109H81.5L81 21.5H50.5Z" stroke="#fff" stroke-width="4" stroke-linecap="round"/>
				<path d="M184 4H145.5V13H170.5L131.5 91.5L139 98L184 4Z" stroke="#fff" stroke-width="4" stroke-linecap="round"/>
				<path d="M40.5 12.5V3.5H3.5L33.5 65L37 51L18 12.5H40.5Z" stroke="#fff" stroke-width="4" stroke-linecap="round"/>
				<path d="M76.5 132.5L62.5 126.5L94 192L124.5 129L112 132.5L94 168L76.5 132.5Z" stroke="#fff" stroke-width="4" stroke-linecap="round"/>
				<path d="M43 60C49.8 38.4 69.5 30 78.5 28.5V49.5C75.3 50.7 71.5 55 70 57C67.3333 59.5 62.4 67.9 64 81.5C65.6 95.1 76 102.5 81 104.5C82 105.167 86.8 106.7 98 107.5C109.2 108.3 117.667 100.5 120.5 96.5C122.833 98.8333 129 104.9 135 110.5C131.5 115 116 127 91.5 127.5C71.9 127.9 58.6667 117.333 54.5 112C47.8333 103.667 36.2 81.6 43 60Z" fill="#0052cd" stroke="#0052cd"/>
				<path d="M107.5 46.5V27.5C120.207 29.0752 126.104 32.7514 135 43L120 56C116.146 50.996 113.547 48.7412 107.5 46.5Z" fill="#0052cd" stroke="#0052cd" stroke-linecap="round"/>
				</svg>

				<h1>CryptoTech</h1>
			</div>


			<div class="footer__links ">
				{% include 'includes/main_links.html' %}
			</div>

		</div>

		<div class="second__footer__block">
			<a class="a__bottom__hover" href="mailto:crypto.tech@mail.ru">
				<svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.5 7.49995C9.5 11 12 12.5 12.5 12.5C13 12.5 16.461 10.1213 18.5 7.49995M6.5 1.00001C2.5 0.999993 1 2.19995 1 6.99995C1 11.8 1 15.6666 1 17C1 18.3333 1.8 21 5 21C8.2 21 15.6667 21 19 21C20.6667 21 24 20.2 24 17C24 13.8 24 8.99997 24 6.99995C24 1.99995 23 1 19 1L6.5 1.00001Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round"/>
				</svg>
				crypto.tech@mail.ru
			</a>
			<a class="a__bottom__hover" href="#">
				<svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.00002 1C10 5.8 11 7.66667 11 8C10.1667 8.33333 8.60002 9.2 9.00002 10C9.40002 10.8 13.8333 15 16 17C16.6667 16 18.2 14.1 19 14.5C20 15 26 18 25.5 19.5C25 21 23 24.5 20.5 24.5C18 24.5 16 24 14.5 23C13.3 22.2 6.00002 14.3333 2.50002 10.5C1.50002 7.83333 0.600015 2.2 5.00002 1" stroke="#ffffff" stroke-width="2" stroke-linecap="round"/>
				</svg>
				+7 (963) 544-44-23
			</a>
			<a class="a__bottom__hover" href="https://t.me/UAcryptotech">
				<svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M10 15.4999C11 16.4999 15.5 20.4999 17.5 22.4999C19.5 24.4999 21.1667 23.8333 21.5 22.4999C22.3333 18.4999 24 8.24994 25 3.99995C26 -0.250036 23.5 0.999927 21.5 1.99995C19.5 2.99998 7.5 7.89994 3.50001 9.49994C-0.499992 10.6999 1.50001 12.3333 3.00001 12.9999L10 15.4999ZM10 15.4999C13.71 11.9852 21.5 4.49993 19.5 6.49993" stroke-width="2" stroke="#ffffff"/>
				</svg>

				@CryptoTech
			</a>
			<a class="a__bottom__hover" href="https://t.me/CryptoTech_ua_Bot">


				<svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M10 15.4999C11 16.4999 15.5 20.4999 17.5 22.4999C19.5 24.4999 21.1667 23.8333 21.5 22.4999C22.3333 18.4999 24 8.24994 25 3.99995C26 -0.250036 23.5 0.999927 21.5 1.99995C19.5 2.99998 7.5 7.89994 3.50001 9.49994C-0.499992 10.6999 1.50001 12.3333 3.00001 12.9999L10 15.4999ZM10 15.4999C13.71 11.9852 21.5 4.49993 19.5 6.49993" stroke-width="2" stroke="#ffffff"/>
				</svg>


				@CryptoTechBot
			</a>
		</div>


		<div class="thrid__footer__block">
			<a class="a__bottom__hover" href="{% url 'main_page:contract3' %}">{% trans 'Договор оферты' %}</a>
			<a class="a__bottom__hover" href="{% url 'main_page:contract2' %}">{% trans 'Политика конфиденциальности' %}</a>
			<a class="a__bottom__hover" href="{% url 'main_page:contract1' %}">{% trans 'Положение о персональных данных' %}</a>
		</div>

	</footer>

	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script src="{% static 'cat/libs_js/ScrollSmoother.min.js' %}" defer></script>
	<script src="{% static 'cat/libs_js/ScrollTrigger.min.js' %}" defer></script>
	<script src="{% static 'cat/libs_js/gsap.min.js' %}" defer></script>
	<script src="{% static 'cat/libs_js/jquery-3.7.1.min.js' %}" defer></script>
	<script src="{% static 'cat/libs_js/swiper-bundle.min.js' %}" defer></script>
	<script src="{% static 'cat/js/app.js' %}" defer></script>
	<script src="{% static 'cat/js/dop_app.js' %}" defer></script>
	<script src="{% static 'cat/js/swipe.js' %}" defer></script>

	<script defer>
		const swiper6 = new Swiper('.data__center__slider__1', {
		  // Optional parameters
		  direction: 'horizontal',
		  loop: false,
		  slidesPerView: 2.5,
		  spaceBetween: 10,


		  navigation: {
		    nextEl: '.swiper-button-next__cod',
		    prevEl: '.swiper-button-prev__cod',
		  },

		});
	</script>

	<script defer>
		const swiper7 = new Swiper('.data__center__slider__2', {
		  // Optional parameters
		  direction: 'horizontal',
		  loop: false,
		  slidesPerView: 1.15,
		  spaceBetween: 15,
		  centeredSlides: true,


		  navigation: {
		    nextEl: '.swiper-button-next__cod2',
		    prevEl: '.swiper-button-prev__cod2',
		  },

		});
	</script>

	<!--<script defer>
		document.addEventListener('DOMContentLoaded', function() {
	        var link = document.querySelector('.cod__card__first__block__1');
	        var link2 = document.querySelector('.cod__card__first__block__2');
	        var form = document.querySelector('.cod__forms_display_1');
	        var form2 = document.querySelector('.cod__forms_display_2');
	        var blure = document.querySelector('.dark__blure');
	        var closeButton = document.querySelector('.span__close__pose');
	        var closeButton2 = document.querySelector('.span__close__pose2');

	        // Функция для переключения видимости формы
	       function toggleFormVisibility() {
			    var display = window.getComputedStyle(form).display;
			    if (display === "none") {
			        form.style.display = "grid";
			        blure.style.display = "block";
			    } else {
			        form.style.display = "none";
			        blure.style.display = "none";
			    }
			}

	        function toggleFormVisibility2() {
			    var display = window.getComputedStyle(form2).display;
			    if (display === "none") {
			        form2.style.display = "grid";
			        blure.style.display = "block";
			    } else {
			        form2.style.display = "none";
			        blure.style.display = "none";
			    }
			}

	        link.addEventListener('click', function(event) {
	            event.preventDefault();
	            toggleFormVisibility();
	        });

	        link2.addEventListener('click', function(event) {
	            event.preventDefault();
	            toggleFormVisibility2();
	        });

	        closeButton.addEventListener('click', function(event) {
	            toggleFormVisibility();
	        });

	        closeButton2.addEventListener('click', function(event) {
	            toggleFormVisibility2();
	        });
	    });
	</script> -->

	{% block dop_script %}
	{% endblock %}
</body>

</html>